html, body{
    height: 100%;
    width: 100%;
}
body {
    direction: rtl;
    font-family: sans-serif;
    box-sizing: border-box;
    background-image: url("/images/back.jpg") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

*{
    border: solid black 2px;
}

header{
    width: 100%;
    height: 15%;
}
main{
    width: 100%;
    height: 70%;
}




@media only screen and (max-width: 600px) {
    

}