.sec1{
    width: 100%;
    border: 2px solid black; 
    margin-top: 1%;
	padding:1% 0 ;
    text-align: center;
    background-color: #EBF4FA;
}

.p1sec1{
    font-weight: bolder;
    color: #50C878;
}