.sec1{
    width: 100%;
    border: 2px solid black; 
    margin-top: 1%;
	padding:1% 0 ;
    text-align: center;
    background-color: #EBF4FA;
    

}

.p1sec1{
    font-weight: bolder;
    color: #50C878;
}

table.center {
    margin-left: auto; 
    margin-right: auto;
    
  }
  table, th, td {
    border: 1px solid black;
    padding: 5%;
    margin: auto;
    border-collapse: separate;
    border-spacing: 50px 0;    
  }

  tr:nth-child(even){background-color: #f2f2f2}
  tr{background-color: #50C878}

  #weight{
    width:250px;
  }

  .btn{
    background-color:none;
  }